
<details>
  <summary class="nav-link">
    Cart
  </summary>

  <% if cart.present? %>
    <ul>
      <% cart.each do |product| %>
        <li>
          <%= form_with url: cart_update_path, method: :post do %>
            <%= hidden_field_tag :id, product.id %>
            <%= image_tag product.image, :size => '30x30' %>
            <%= link_to product.name, 'test' %> |
          $<%= product.price.to_f %> |
          Quantity: <%= select_tag :quantity, options_for_select(1..10, session[:quantity][session[:shopping_cart].index(product.id)]), onchange: "this.form.submit();"%>
          <% end%>
          <%= button_to cart_path(product), method: :delete, class: 'btn btn-link',form: {style: 'display:inline-block;'} do%>
          Remove from cart
          <% end %>
        </li>
  <% end %>
<% if user_signed_in? %>
  <%= link_to "Checkout", checkout_payment_path,class: 'btn btn-success'  %>
  <% else %>
  <%= link_to "Login to checkout", new_user_session_path,class: 'btn btn-success' %>
  <% end %>
    </ul>
<% else %>
  <p>No items in your cart.</p>
  <% end %>
</details>