<% if current_user_addresses.count == 0 %>
  <div class="col-md-8 order-md-1">
  <h4 class="mb-3">Billing address</h4>
  <%= form_with url: new_billing_address_path, method: :get do |form| %>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="first_name">First name</label>
        <%= form.text_field :first_name, class:"form-control", :required => 'required' %>
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="last_name">Last name</label>
        <%= form.text_field :last_name, class:"form-control", :required => 'required' %>
        <div class="invalid-feedback">
        Valid last name is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="street_address">Address</label>
      <%= form.text_field :street_address, class:"form-control", placeholder:"1234 Main St", :required => 'required'%>
      <div class="invalid-feedback">
        Please enter your shipping address.
      </div>
    </div>
    <div class="mb-3">
      <label for="city">city</label>
      <%= form.text_field :city, class:"form-control", placeholder:"Winnipeg", :required => 'required'%>
      <div class="invalid-feedback">
        Please enter your city.
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="province_id">Province</label>
        <%= form.collection_select :province_id, Province.all, :id, :name, {  class:"custom-select d-block w-100" } %>

        </select>
        <div class="invalid-feedback">
          Please provide a valid province.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="postal_code">Postal Code</label>
        <%= form.text_field :postal_code, class:"form-control", :required => 'required' %>
        <div class="invalid-feedback">
          postal code required.
        </div>
      </div>
    </div>
    <hr class="mb-4">
    <%= form.hidden_field :user_id, :value => current_user.id%>
    <%= form.submit "Save Shipping Address", class:"btn btn-primary btn-lg btn-block" %>
  <%end%>

<%else%>


  <div class="col-md-8 order-md-1">
  <h4 class="mb-3">Billing address</h4>
  <%= form_with url: new_billing_address_path, method: :get do |form| %>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="first_name">First name</label>
        <%= form.text_field :first_name, class:"form-control", :required => 'required', value:current_user_addresses.first.first_name %>
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="last_name">Last name</label>
        <%= form.text_field :last_name, class:"form-control", :required => 'required', value:current_user_addresses.first.last_name %>
        <div class="invalid-feedback">
        Valid last name is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="street_address">Address</label>
      <%= form.text_field :street_address, class:"form-control", placeholder:"1234 Main St", :required => 'required', value:current_user_addresses.first.street_address%>
      <div class="invalid-feedback">
        Please enter your shipping address.
      </div>
    </div>
    <div class="mb-3">
      <label for="city">city</label>
      <%= form.text_field :city, class:"form-control", placeholder:"Winnipeg", :required => 'required', value:current_user_addresses.first.city%>
      <div class="invalid-feedback">
        Please enter your city.
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="province_id">Province</label>
        <%= form.collection_select :province_id, Province.all, :id, :name, {  class:"custom-select d-block w-100" } %>

        </select>
        <div class="invalid-feedback">
          Please provide a valid province.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="postal_code">Postal Code</label>
        <%= form.text_field :postal_code, class:"form-control", :required => 'required', value:current_user_addresses.first.postal_code %>
        <div class="invalid-feedback">
          postal code required.
        </div>
      </div>
    </div>
    <hr class="mb-4">
    <%= form.hidden_field :user_id, :value => current_user.id%>
    <%= form.hidden_field :address_id, :value => BillingAddress.where("user_id = ?", current_user.id).first.id%>
    <%= puts :address_id%>
    <%= form.submit "Save Shipping Address", class:"btn btn-primary btn-lg btn-block" %>
  <%end%>
<%end%>